.light-background {
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 100%;
    min-height: 570px;
}

.slide-up-cbccvc {
    height: 370px !important;
}

.slide-up-cbccvc .carousel {
    height: 330px !important;
}
.tuyendung-item {
    height: 240px;
    width: 254px;
    float: left;
    border: 1px solid lightgrey;
    background: white;
    padding: 12px;
    margin: 12px;
}

.tuyendung-item .tuyendung-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tuyendung-item .tuyendung-item-header>span {
    margin-top: -10px;
    cursor: pointer;
}

.tuyendung-item .tuyendung-item-body >p {
    font-size: 14px;
    height: 75px;
}
.tuyendung-item .tuyendung-item-footer {
    font-size: 12px;
}
.tuyendung-item-footer-border {
    border-top: 1px solid lightgrey;
    height: 0;
    margin-bottom: 10px;
    width: 30%;
}

.tuyendung-item-progress {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    background: #e2e2e2;
    height: 5px;
}
.tuyendung-item-progress >div {
    background: #28a745;
    height: 100%;
}

.navi-menu-item {
    height: 90px;
    display: flex;
    align-items: center;
    background: #0277bd;
    margin: 5px 0px;
    padding: 10px;
    color: white;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
}

.navi-menu-item.active {
    background: #ffc107 !important;
    color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.navi-menu-item.active::before {
    background: white;
}

.navi-menu-item.active::after{
    background: white;  
}

.navi-menu-item .item-mark {
    background: white;
    position: absolute;
    right: 0;
    width: 28px;
    height: 46px;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 50%);
    transform: translateX(20px);
    z-index: 999;
    display: none;
}
.navi-menu-item.active .item-mark {
    display: block;
}

.display-none {
    display: none !important;
}
.navi-menu-item >i {
    font-size: 32px;
    margin: 10px;
}

.font-size-13 {
    font-size: 13px;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.center-items.active {
    background:white; 
    color:#3d3d3d;
    transform: translateY(-2px) scaleY(1.1);

}

.ctdt-header {
    height: 40px; 
    background: #0074bf;
    color: white; 
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 20px;
}

.ctdt-link a {
    text-decoration: underline;
    margin-left: 6px;
}

.ctdt-btn {
    /* margin-right: 10px; */
    height: 80px;
    font-weight: 600;
    width: 45%;
}
/*CHo daotao boi duong */
.training-button {
    background: white; 
    border: 1px solid lightgrey; 
    padding: 20px; 
    width: 170px;
}

.form-information{
    margin-top: 20px;
}

.form-information input{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
}

.form-information .select-form{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 8px;
}


.top-key-word{
    margin-top: 50px;
}

.top-key-word .key-word-item{
    display: block;
    text-align: center;
    background: #1976d2;
    color: #fff;
    border-radius: 7px;
    line-height: 35px;
    width: 46%;
    float: left;
    margin-bottom: 10px; 
}

.top-key-word .title{
    text-transform: uppercase;
    margin-bottom: 10px; 
}
.top-key-word .key-word-item:nth-child(odd){
    margin-right: 4%;
}

.content-right{
    padding-right: 30px;
    margin-top: 12px;
}

.title-search{
    background: #1976d2;
    color: #fff;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#tab-content-4 .submit{
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #000;
    border-radius: 4px;
    background: #1976d2;
    color: #fff;
    margin: 0 8px;
}

#tab-content-4 tr{
    cursor: inherit;
}

#tab-content-4 h3{
    color: #000;
    height: 40px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: 40px;
    background: chocolate;
}

#tab-content-4 .update{
    float: right;
    height: 30px;
    background: #ccc;
    line-height: 30px;
    width: 300px;
    text-align: center;
    border: 1px solid #666;
    margin-bottom: 10px;
}

#tab-content-4 .notificate{
    background: #ea5804;
    float: right;
    width: 200px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}

#tab-content-4 .notificate span{
    margin-left: 10px;
}

#tab-content-4{
    overflow: hidden;
}

    